body {
  font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Proza Libre', sans-serif;
  font-size:4.5em;
  padding:15px;
  text-shadow:  2px 2px 5px black;
}


h2{
  font-family: 'Proza Libre', sans-serif;
  font-size:3.5em;
  padding:30px;
}


h3{
  font-family: 'Proza Libre', sans-serif;
  font-size:2.5em;
  padding:15px;
}


p{
  font-family: 'Raleway', sans-serif;
  font-size:20px;
}

.first-sect {
  background-image: url("https://github.com/Gezo21/gezo21.github.io/blob/master/marco.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 100%;
  background-blend-mode: multiply;
}

.second-sect {
  background-image: url("http://2.bp.blogspot.com/-V5jzg-ts3rQ/WLmyU3g_7bI/AAAAAAAAAq4/UJW8WH0tXcMyp6hBdq0B6VnJIvqy3GT_gCK4B/s1600/code.jpg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 100% 100%;
  background-blend-mode: multiply;
}


.third-sect {
  background-image: url("http://1.bp.blogspot.com/-aqwnYqmSFIU/WLmuM9PSHII/AAAAAAAAAqo/yNThR9kqHmURhkznPq-X5YKDxQyY-u1ZACK4B/s1600/piano%2Bmarco.JPG");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 100%;
  background-blend-mode: overlay;
}

.port-img {
  margin:10%;
  width:80%;
  box-shadow: 3px 3px 5px black;
  transition: width 0.5s;
}
.port-img:hover {
  width:100%;
}

#social-menu{
  padding-right:4%
}

#Home{
  padding:20%;
  color: white;
  background-color:#2C4770;
}

#Portfolio{
  padding:5%;
  color: white;
  background-color:#142E54;
}

#Bio{
  padding:5%;
  padding-bottom: 5%;
  background-color:#051A38;
  color:white;
}

.social-footer {
  margin-top: 35px;
}

/* =============================
   Tooltips
================================ */

/* Tooltip text */
.tool .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.8);;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 80%;
    left: 50%; 
    margin-left: -10px;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool:hover .tooltiptext {
    visibility: visible;
}









/*=========================
  Icons
 ================= */

/* footer social icons */

ul.social-network {
	list-style: none;
	display: inline;
  padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 7px;
}


/* footer social icons */
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}

.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
